<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Airport Manager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Manager/Flights">
                <span class="oi oi-plus" aria-hidden="true"></span> Flight Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Customers/Purchase">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Purchase Ticket
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Customers/CheckIn">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Check-In
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BaggageClaim">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Baggage Claim
            </NavLink>
        </div>
    </nav>
</div>

@code {
    bool collapseNavMenu = true;

    string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
